// INIT FONTS
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// IMPORTS
@import "fonts";
@import "normalize";

// VARS
$bg_color: #E4E4E4;
$body_color: #070707;

$body_fs: 24px;
$light-title_fs: 18px;
$strong-title_fs: 100px;
$h1-title_fs: 185px;

$container_w: calc(100% - 60px);
$col_w: calc(100% / 6);
// ANIMATIONS
// TEMPLATES
// MIXINS
@mixin clearfix { 
	*zoom:1;
    &:before, &:after { 
		content: ""; 
		display: table; 
	}
    &:after { 
		clear: both; 
	}
}

@mixin colmargins_a($n) {
    &::after {
        content: "";
        width: 100%;
        display: block;
        
        $temp: calc($col_w * $n);
        margin-right: $temp;
    }
}

@mixin colmargins_b($n) {
    &::before {
        content: "";
        width: 100%;
        display: block;
        
        $temp: calc($col_w * $n);
        margin-right: $temp;
    }
}

//! MAIN STYLE
* {
    scrollbar-width: auto;
    scrollbar-color: $body_color $bg_color;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $body_color;
    border-radius: 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

*::selection {
    background-color: #d24444;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    color: $body_color;
    background-color: $bg_color;
    line-height: 80%;
    font-size: $body_fs;
    transition: all .5s ease;
}

.cursor-dot,
.cursor-dot-outline {
  mix-blend-mode: normal;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cursor-dot {
  z-index:99999999;
  width: 0;
  height: 0;
  background-color: $body_color;
  border: solid;
  border-radius: 50%;
  border-width: 0px;
  border-color: #000;
}

.cursor-dot-outline {
  z-index:99999998;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: solid;
  border-radius: 50%;
  border-width: 0px;
  border-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform .5s ease;
  transition: opacity .5s ease;

  .dot__title {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
  }
}

a {
    color: $body_color;
    text-decoration: none;
}

// body.dark {
//     background-color: $body_color !important;
//     color: #fff !important;

//     *::after {
//         background-color: #fff !important;
//     }
//     * svg path {
//         fill: #fff !important;
//     }
//     * a {
//         color: #fff !important;
//     }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $h1-title_fs;
    line-height: 100%;
    font-weight: 300;
}

h2 {
    font-size: $strong-title_fs;
    line-height: 100%;
}

h3 {
    font-size: $light-title_fs;
}

section, header, footer, main {
    width: 100%;
}

main {
    padding-top: 120px;
}

.container {
    max-width: $container_w;
    margin: 0 auto;
}

a.link-1 {
    @include clearfix;
    text-decoration: none;
    // cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    overflow: hidden;
    height: 1em;
    padding-bottom: 10px;
	color: $bg_color;
	font-weight: 400;

    span {
        position: relative;
        display: inline-block;
        transition-duration: .3s;
        &::before {
            color: $bg_color;
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 400;
            transform: translate3d(0,0,0);
        }
    }
    &:hover{
        span{
            transform: translateY(-100%);
        }
    }
}

.underline-hover {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 100%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $body_color;
        transition: all .6s ease-in-out;
        margin-right: 50px;
    }
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $body_color;
        transition: all .6s ease-in-out;
    }
    &:hover::after {
        transform: translate(calc(100% + 50px)) !important;
    }
    &:hover::before {
        transform: translate(calc(100% + 50px)) !important;
    }
}


.light-title {
    font-size: $light-title_fs;
}

.strong-title {
    font-size: $strong-title_fs;
    font-weight: 300;
}

.section-id {
    font-size: $light-title_fs;

    @include colmargins_a(1);
}

.descrpt, li {
    line-height: 120% !important;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    .title {
        text-decoration: none;
    }
}

.btn {
    height: $body_fs;
    display: flex;
    align-items: center;
    
    .title {
        display: block;
        transition: all .4s ease;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: .5px;
            background-color: $body_color;
            margin-top: 7px;
        }
    }
    .btn-icon {
        position: relative;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
      
        overflow: hidden;
    }
    .icon {
        display: block;
        position: absolute;
        transition: transform 0.4s ease;
    }  
    .icon:nth-child(2) {
        transform: translate(-40px);
    }

    &:hover .btn-container {
        transform: translateY(calc(-1 * $body_fs));
    }
    &:hover .icon:first-child {
        transform: translate(40px);
    }
      
    &:hover .icon:nth-child(2) {
        transform: translate(0px);
    }

    &.lock {
        opacity: 30%;
        cursor: default;

        .title::selection {
            background-color: transparent;
        }
    }
}


//* HEADER

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 30px;
    color: #fff;
    mix-blend-mode: difference;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .change-theme-btn {
        display: inline-block;
        background-color: #fff;
        height: 14px;
        width: 14px;
        border-radius: 100%;
    }
}

//* HERO
#hero {
    padding-bottom: 110px;

    .hero__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .second_floor .content-left {
        display: flex;
        align-items: flex-start;
        max-width: 30%;
        

        .light-title {
            font-size: 16px !important;
            margin-right: 100px;
        }
        .descrpt {
            font-size: 16px !important;
        
            &:nth-child(1) {
                margin-bottom: 28px;
            }
        }
    }
    .second_floor .content-right {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        justify-content: right;

        img {
            margin-right: 30px;
        }
    }
}

//* ABOUT ME
#about-me-photo {
    padding-bottom: 110px;

    .container {
        display: grid;
        grid-template-columns: $col_w calc($col_w * 2) $col_w $col_w $col_w;
        grid-row: auto;
    }
    .about-me-photo__wrap {
        display: flex;
        flex-direction: column;
        max-width: 620px;
    }
}

#about-me-info {
    padding-bottom: 110px;

    .container {
        display: grid;
        grid-template-columns: calc($col_w * 2) $col_w calc($col_w * 2) $col_w;
        grid-row: auto;
    }

    .text__wrap {
        display: flex;
        flex-direction: column;
        
        .descrpt {
            max-width: 376px;

        }
        .descrpt:nth-child(1)::after {
            content: "";
            display: block;
            width: 100%;
            height: .5px;
            background-color: $body_color;
            margin-top: 19px;
        }
        .descrpt:nth-child(1) {
            margin-bottom: 20px;
        }
    }
}

//* FEATURED PROJECTS
#featured-projects {
    padding-bottom: 110px;

    .strong-title::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: .5px;
        background-color: $body_color;
        margin-top: 20px;
    }
    .featured-projects__fp {
        margin-bottom: 140px;
    }
    .grid_layout {
        padding-top: 50px;
        display: grid;
        grid-template-columns: calc($col_w * 2) $col_w calc($col_w * 2) $col_w;
        grid-row: auto;

        .descrpt {
            max-width: 407px;
        }
    }
    .fp2 .descrpt {
        max-width: 457px;
    }
    .splide {
        margin-top: 120px;
        cursor: grab;

        .splide__list {
            align-items: center;

            li {
                background-size: cover;
                background-position: center;
            }
        }
    }
    .fp3 .splide__list li:nth-child(3) {
        background-position: left;
    }
}

//* PROJECTS
#projects {
    padding-bottom: 110px;

    .projects-capture__wrap {
        display: grid;
        grid-template-columns: calc($col_w * 2) $col_w $col_w $col_w $col_w;
        grid-row: auto;
        margin-bottom: 120px;
    }
}

.accordion {
    display: flex;
    width: 100%;
    flex-direction: column;

    .accordion__li {
        margin-bottom: 30px;

        .strong-title {
            line-height: normal;
            cursor: pointer;
            text-transform: uppercase;
        
            &.lock {
                opacity: 30%;
                cursor: default;
            }
        }
        .strong-title::after {
            content: "";
            display: block;
            width: 100%;
            height: .5px;
            background-color: $body_color;
            margin-top: 21px;
        }
        .li__content {
            overflow: hidden;
            height: 0px;
            transition: all .6s ease-in-out;

            
            .cover {
                margin-bottom: 50px;
                height: 900px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .grid_layout {
                display: grid;
                grid-template-columns: $col_w calc($col_w * 2) $col_w;
                grid-template-rows: auto;
                justify-content: end;
            
                .light-title {
                    text-transform: uppercase;
                }
            }
        }
        .li__content.active {
            height: 1115px;
            margin-top: 50px;
            margin-bottom: 80px;
        }
    }
    .p2 .descrpt {
        max-width: 450px;
    }
    .p1 .descrpt {
        max-width: 450px;
    }
}

//* SERVICES
#services {
    padding-bottom: 110px;

    .service-capture__wrap {
        display: grid;
        grid-template-columns: calc($col_w * 2) $col_w $col_w $col_w $col_w;
        grid-row: auto;
        margin-bottom: 120px;
    }
    .li__content {
        display: grid;
        grid-template-columns: calc($col_w * 2) calc($col_w * 2);
        grid-template-rows: auto;
        justify-content: space-around;

        &.active {
            height: 540px;
            margin: 100px 0;
        }
        .cover {
            height: 100%;
            transition: all .5s ease;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .text__wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .descrpt {
                margin-bottom: 20px;
                max-width: 376px;
            
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: .5px;
                    background-color: $body_color;
                    margin-top: 20px;
                }
            }
            .project-steps {
                max-width: 376px;
            }
            .btn {
                margin-bottom: 15px;
            }
        }
    }
}

//* CONTACTS
#contacts {
    padding-bottom: 50px;

    .descpt {
        line-height: 120%;
    }
    .contacts__title {
        display: grid;
        grid-template-columns: calc($col_w * 2) $col_w $col_w;
        grid-template-rows: auto;
        justify-content: left;
        margin-bottom: 80px;
    }
    .contacts__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    
        .mail {
            font-size: 120px;
            line-height: 150px;
            text-decoration: underline;
            transition: all .5s ease;
        }
    }
    .contacts_social {
        display: grid;
        grid-template-columns: $col_w calc($col_w * 2) calc($col_w * 3);
        grid-template-rows: auto;
        justify-content: space-between;
        align-items: flex-end;

        .capt {
            font-size: 120px;
            line-height: 130px;
            text-align: right;
        }
        .social .social__link {
            line-height: 30px;
        }
        .social .social__link:not(:last-child) {
            margin-right: 50px;
        }
    }
}

//! MEDIA REQUESTS

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1860px;
    }
    h1 {
        font-size: 208px;
    }

}

@media screen and (min-width: 1550px) {
    .container {
    }
    .h1 {
        font-size: 175px;
    }
}